@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is my small Category App</h1>
    <p>In this App I'm learning some .NET basics - CRUD application is kinda cool for it so let's go into <a class="text-success" asp-area="" asp-controller="Category" asp-action="Index">Category</a> and try it</p>
</div>
